astropy==6.1.4
cffi==1.17.1
cffi>=1.0.0
colorlog==6.9.0
corner==2.2.2
emcee==3.1.6
joblib==1.4.2
jsonschema==4.23.0
matplotlib==3.9.2
numpy==2.1.2

# optional for tools combine
# git+https://github.com/cylammarco/SpectRes

# Development Requirements
pre-commit==4.0.1
pytest==8.3.3
pytest-cov==6.0.0
python-dateutil==2.9.0.post0
scikit-image==0.24.0
scipy==1.9.3
sphinx==5.3.0
tqdm==4.64.1
wget==3.2
